.presentacion{
    text-align: left;
    font-size: 100px;
    margin-bottom: 200px;
  margin-top: 100px;
  width: 90%;
}

.typing-container{
  height: 100px;
}

.titleSkils{
    width: 100%;
}

.profile{
    height: 300px;
    width: 235px;
    border-radius: 125px;
    margin-left: 40px;
    margin-right: 150px;
    margin-top: 90px;
}

.a-right{
    text-align: left;
}

h1{
    font-size: 50px;
    margin-bottom: -20px;
}

h2{
    font-size: 30px;
    margin-bottom: 50px;
}

.description{
    width: 100%;
  margin-bottom: 120px;
  position: relative;
  display: flex;
}

.tool > ul > li > img{
    width: 100px;
    height: 100px;
}

.tool, .tool > ul {
    display: flex;
    list-style: none;
    margin-left: calc((100% - 1410px) /2);
    width: 1500px;
  flex-wrap: wrap;
  gap: 50px;
}

.tool > ul > li{
    width: 140px;
    height: 140px;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
  margin-right: 20px;
}

nav ul li a{
    color: white;
    line-height: 2.5;
}

nav ul li a:hover{
    color: dimgray;
}

@media(max-width: 1006px){
    .presentacion{
      margin-top: 10px;
    }
}
@media(max-width: 1320px){
  .tool, .tool > ul{
    margin-left: calc((100% - 1180px) /2);
  width: 1200px;
  }
}

@media (max-width: 1130px) {
  .tool, .tool > ul {
    margin-left: calc((100% - 1020px) /2);
    width: 1100px;
  }
}

@media (max-width: 915px) {
  .tool, .tool > ul {
    margin-left: calc((100% - 830px) /2);
    width: 910px;
  }
}

@media (max-width: 725px) {
  .tool, .tool > ul {
    margin-left: calc((100% - 630px) /2);
    width: 700px;
  }
}

@media (max-width: 570px){
  .tool, .tool > ul {
    margin-left: calc((100% - 485px) /2);
    width: 500px;
  }
  .tool > ul > li {
    width: 100px;
    height: 120px;
    margin-bottom: 60px;
  }
}

@media (max-width: 500px) {
  .tool, .tool > ul {
    margin-left: calc((100% - 430px) /2);
    width: 420px;
  }

  .tool > ul > li {
    width: 80px;
  }
}

@media (max-width: 460px) {
  .tool, .tool > ul {
    margin-left: calc((100% - 460px) /2);
    width: 420px;
  }


  .tool > ul > li {
    width: 60px;
  }

  .tool > ul > li > p {
    font-size: 18px;
  }
  .tool > ul > li > img{
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 430px) {
  .tool, .tool > ul {
    margin-left: calc((100% - 363px) /2);
    width: 340px;
  
  }
}

@media (max-width: 376px) {

  .tool > ul > li {
    width: 50px;
  }
  .tool, .tool > ul {
    margin-left: calc((100% - 353px) /2);
    width: 320px;
  }
}

@media (max-width: 353px) {
  .tool, .tool > ul {
    margin-left: calc((100% - 362px) /2);
    
  }
}

@media (max-width: 335px) {
  .tool, .tool > ul {
    margin-left: calc((100% - 372px) /2);
    
  }
}

@media (max-width: 328px) {
  .tool, .tool > ul {
    margin-left: calc((100% - 375px) /2);
    
  }
}

@media (max-width: 320px) {
  .tool, .tool > ul {
    margin-left: -10.5%;
    
  }
}

@media (max-width: 308px) {
  .tool, .tool > ul {
    margin-left: -11.5%;
  }
}

@media (max-width: 298px) {
  .tool, .tool > ul {
    margin-left: -12.5%;
  }
}

@media (max-width: 290px) {
  .tool, .tool > ul {
    margin-left: -13.5%;
  }
}


@media(max-width: 880px){
    .profile{
        margin-right: 75px;
    }

}






@media(max-width: 460px){

      .titleSkils > h1, .titleSkils > h2, .titleSkils > h3{
        width: 95%;
        margin-left: -10px;
    }
}




@media(max-width: 815px){
    .presentacion{
      
      font-size: 90px;
    }
}

@media(max-width: 728px){
    .presentacion{
      margin-top: 65px;
      font-size: 80px;
    }
}

@media(max-width: 640px){
  .presentacion{
    margin-top: 65px;
    font-size: 70px;

  }
}

@media(max-width: 540px){
  .presentacion{
    margin-top: 115px;
    font-size: 60px;
  }
}

@media(max-width: 471px){
  .presentacion{
    margin-top: 60px;
    font-size: 60px;
  }
}

@media(max-width: 356px){
  .presentacion{
    margin-top: 60px;
    font-size: 50px;
  }
}

@media(max-width: 300px){
  .presentacion{
    margin-left: -3%;
  }
}

@media (max-width: 700px) {
    .profile {
      margin-right: 45px;
      margin-left: 15px;
    }
  }

  @media (max-width: 620px) {
    .description{
        flex-direction: column;
    }
    .profile {
      margin-right: 0px;
      margin-left: calc((100% - 235px)/2);
    }
  }

  @media (max-width: 590px){
    .descrcription1{
        width: 90%;
        margin-left: 10px;
    }

    .description{
        margin-left: -10px;
    }
}

@media (max-width: 570px){

    .descrcription1{
        margin-left: 20px;
    }
    
    .description{
        margin-left: -20px;
    }
}

@media (max-width: 400px){
    .description{
        margin-left: -32px;
    }
}

@media (max-width: 500px) {
    .descrcription1 {
      width: 88%;
    }
  }